@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<EmplyeeDetailComponent Employee="employee">

</EmplyeeDetailComponent>

@code {
    private int currentCount = 0;

    private Emplyee employee;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            employee = new Emplyee
            {
                Name = "John Doe",
                Title = "Developer",
                Department = "Software Development"
            };
        });
    }
}